<div style="padding-top: 1em;">
    <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Azure / Office 365 Domain is Already Associated</h3>
                </div>
                <div class="panel-body">
                    <p>Your Azure / Office 365 Domain has already been associateds.</p>
                    <p>To complete the registration process yourself (you may need to login again but there is no need to repeat the association process) or if you have reached this page by mistake then you can proceed directly to the application.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
</div>

