<div style="padding-top: 1em;">
    <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">An Error Occurred During Association</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Error:</strong> @ViewBag.Error</p>
                    <p><strong>Description:</strong> @ViewBag.ErrorDescription</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
</div>
